.navbar
{
    width: 100%;
    background-color: rgba(0,0,0,.8);
    padding:15px 4%;  
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    top:0;
    border-bottom: solid 1px #555;
    img
    {
        height:30px;
        width:auto;
    }
    input
    {
        min-width: 60px;
        padding:5px 12px;
        flex: 1;
        font-size: 1rem;
        margin: 0 5%;
        box-sizing: border-box;
        border: solid 1px #555;
        border-radius: 25px;
        background-color: transparent;
        color:white;
        &:focus
        {
            border:1px solid #0285b5;
            outline:none;
            background-color: rgba(0,0,0,.6);
        }
    }
}