body{
  margin: 0;
  font-family: sans-serif;
  margin-top: 63px;
  scroll-behavior: smooth;
}
.body{
  min-height: 100vh;
  background-color: rgb(51, 51, 51);
}
.grid
{
  max-width: 1000px;
  margin: auto;
}
.row
{
  margin: 0 -6px;
}
.overlay
{
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index:5;
  display:none;
  animation:.3s fadeIn linear;
}
button,a{
  -webkit-tap-highlight-color: transparent;
}
@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@media (min-width:740px) and (max-width:1023px)
{
  .bodyContainer
  {
    max-width: 670px;
  }
}
@media (max-width:740px) {
  .bodyContainer
  {
    box-sizing: border-box;
  }
  .body{
    padding-left: 10px;
    padding-right: 10px;
  }
}